<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ML Playbook</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
        <div class="bg-dark p-2">
          <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
            <span class="fs-4 d-none d-sm-inline">
              Halaman Admin
            </span>
          </a>
          <ul class="nva-pills flex-column mt-lg-5">

            <li class="nav-item py-2 py-sm-0">
              <a href="#" class="nav-link text-white">
                <i class="fs-5"></i><span class="fs-4 ms-3 d-none d-sm-inline">Heroes</span>
              </a>
            </li>
            <li class="nav-item py-2 py-sm-0">
              <a href="#" class="nav-link text-white">
                <i class="fs-5"></i><span class="fs-4 ms-3 d-none d-sm-inline">Hero Story</span>
              </a>
            </li>
            <li class="nav-item py-2 py-sm-0">
              <a href="#" class="nav-link text-white">
                <i class="fs-5"></i><span class="fs-4 ms-3 d-none d-sm-inline">Discussion</span>
              </a>
            </li>

          </ul>
        </div>
        <div class="dropdown open p-3">
          <button type="button" class="btn border-none dropdown-toggle" id="triggerid" data-bs-toogle="dark"
            aria-expanded="false">
            <i class="fa fa-user"></i><span class="ms-2">Admin</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="triggerid">
            <button class="dropdown-item" href="#">Sign Out</button>
          </div>
        </div>

      </div>
      <div>
        <h2>Main Content</h2>
      </div>
    </div>

  </div>
 


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-iOqVpG6C9zzKx2ck+5M3/cLwYUVsC9fN2N3F4MjM3g2xeg3NT+YF0zf47Y1u5KlN" crossorigin="anonymous">
  </script>
</body>
<footer class="bg-white text-dark text-center py-3">
  <div class="container">
    <p>&copy; 2023 ML Playbook. All rights reserved.</p>
  </div>
</footer>

</html>