<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />

  <style>
    .container {
      width: 100%;
      /* Sesuaikan lebar container sesuai kebutuhan */
      margin: 0 auto;
      /* Agar container berada di tengah halaman */
      text-align: justify;
    }
  </style>

</head>
<nav class="navbar navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ML Playbook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Discussion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Interactive Maps</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
  <div class="container mt-3">

    <div class="page-header__title-wrapper">
      <h1 class="page-header__title" id="firstHeading">
        <span class="mw-page-title-main">Jungle</span>
      </h1>
    </div>

    <figure class="thumb tnone show-info-icon" style="width: 565px"> <a
        href="https://static.wikia.nocookie.net/mobile-legends/images/c/cb/Jungle-Creeps.jpg/revision/latest?cb=20200322091409"
        class="image"><img alt="Jungle-Creeps"
          src="https://static.wikia.nocookie.net/mobile-legends/images/c/cb/Jungle-Creeps.jpg/revision/latest?cb=20200322091409"
          decoding="async" loading="lazy" width="565" height="296" class="thumbimage ls-is-cached lazyloaded"
          data-image-name="Jungle-Creeps.jpg" data-image-key="Jungle-Creeps.jpg" data-relevant="1"
          data-src="https://static.wikia.nocookie.net/mobile-legends/images/c/cb/Jungle-Creeps.jpg/revision/latest?cb=20200322091409"></a>
    </figure>

    <p>
      Mobile Legends adalah permainan mobile MOBA (Multiplayer Online Battle Arena) yang sangat populer. Namun, saya
      tidak memiliki informasi spesifik tentang istilah "jungle" dalam konteks Mobile Legends karena terminologi dan
      mekanik permainan dapat berubah seiring waktu dan pembaruan. Pada umumnya, dalam banyak permainan MOBA, "jungle"
      merujuk pada area hutan di tengah peta yang terpisah dari
      jalur-jalur utama yang biasanya dihuni oleh monster hutan atau makhluk-makhluk yang memberikan hadiah berupa emas
      dan pengalaman kepada pemain yang membunuhnya. Pemain yang disebut "jungler" adalah mereka yang menjelajahi dan
      memburu monster di hutan untuk mendapatkan keuntungan ekstra bagi tim mereka.
    </p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Gambar</th>
          <th>Nama</th>
          <th>Deskripsi</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="col">1</th>
          <td scope="col"><img src="static/lord.jpeg"></td>
          <td scope="col">Lord</td>
          <td scope="col">Creep paling kuat yang melancarkan banyak serangan ke musuh saat diprovokasi. Ketika terbunuh,
            itu akan meningkatkan minion dan rekan dengan pembunuh untuk melakukan push. Pada menit ke-12, berubah
            menjadi Luminous Lord yang dapat menyerang menara pertama yang ditemuinya, menimbulkan kerusakan nyata dan
            menonaktifkannya.</td>
        </tr>

        <tr>
          <th scope="col">2</th>
          <td scope="col"><img src="static/turtle.jpeg"></td>
          <td scope="col">Turtle</td>
          <td scope="col">Pembunuh akan menerima Turtle Buff yang memberikan perisai yang memberikan bonus Serangan
            Fisik dan Kekuatan Sihir, sedangkan sekutunya akan mendapatkan Bonus Emas dan perisai satu kali.</td>
        </tr>

        <tr>
          <th scope="col">3</th>
          <td scope="col"><img src="static/Molten_Fiend.jpeg"></td>
          <td scope="col">Molten Fiend</td>
          <td scope="col">Creep ini memberikan buff khusus bernama Orange Buff (alias Red Buff) yang memberikan true
            damage ekstra dan memperlambat musuh saat kamu menyerangnya.</td>
        </tr>

        <tr>
          <th scope="col">4</th>
          <td scope="col"><img src="static/Thunder_Fenrir.jpeg"></td>
          <td scope="col">Thunder Fenrir</td>
          <td scope="col">Mereka adalah duo creep yang memberikan buff khusus bernama Purple Buff (alias Blue Buff),
            yang memberikan Cooldown Reduction dan mengurangi Biaya Mana/Energy. Ini juga memberi Anda HP untuk setiap
            target yang Anda bunuh, penyembuhannya bervariasi tergantung jenis target.</td>
        </tr>

        <tr>
          <th scope="col">5</th>
          <td scope="col"><img src="static/Crab.jpeg"></td>
          <td scope="col">Crab</td>
          <td scope="col">Creep ini memberikan kalian Gold Buff. Sebelum Kepiting muncul, Kepiting kecil akan muncul
            terlebih dahulu, memberikan jumlah emas yang lebih sedikit dan akan lebih sering muncul kembali.</td>
        </tr>

        <tr>
          <th scope="col">6</th>
          <td scope="col"><img src="static/Lava_Golem.jpeg"></td>
          <td scope="col">Lava Golem</td>
          <td scope="col">Creep ini tidak memiliki kemampuan khusus selain Healing Buff.</td>
        </tr>

        <tr>
          <th scope="col">7</th>
          <td scope="col"><img src="static/Fire_Beetle.jpeg"></td>
          <td scope="col">Fire Beetle</td>
          <td scope="col">Creep ini akan berubah menjadi sedikit Crammer ketika dibunuh dan dapat bertahan hingga
            seperempat menit.</td>
        </tr>

        <tr>
          <th scope="col">8</th>
          <td scope="col"><img src="static/Horned_Lizard.jpeg"></td>
          <td scope="col">Horned Lizard</td>
          <td scope="col">Creep ini memiliki serangan jarak jauh dan membangkitkan dengan meningkatkan poin
            pertahanannya sendiri ketika HP-nya rendah.</td>
        </tr>

        <tr>
          <th scope="col">9</th>
          <td scope="col"><img src="static/Lithowanderer.jpeg"></td>
          <td scope="col">Lithowanderer</td>
          <td scope="col">Creep ini tidak akan menyerangmu dan memberimu Walkie Grass yang memberimu tambahan kecepatan
            gerak dan Stone Roamer akan muncul bergerak di sungai.</td>
        </tr>

      </tbody>
    </table>

  </div>
</body>

</html>