<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
</head>
<nav class="navbar navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ML Playbook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Discussion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Interactive Maps</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>

  <div class="container mt-3">
    <div>
      <h1 class="page-header__title" id="firstHeading">
        <span class="mw-page-title-main">Hero Skins</span>
      </h1>
    </div>

    <div>
      <figure class="thumb tright show-info-icon" style="width: 320px"> <a
          href="https://static.wikia.nocookie.net/mobile-legends/images/6/63/Skins_Thumbnail.jpg/revision/latest?cb=20200816140855"
          class="image"><img alt="Skins Thumbnail"
            src="https://static.wikia.nocookie.net/mobile-legends/images/6/63/Skins_Thumbnail.jpg/revision/latest/scale-to-width-down/320?cb=20200816140855"
            decoding="async" loading="lazy" width="320" height="180" class="thumbimage"
            data-image-name="Skins Thumbnail.jpg" data-image-key="Skins_Thumbnail.jpg" data-relevant="1"></a>
      </figure>

      <p><b>Skin hero</b> adalah penampilan alternatif untuk hero tertentu.</p>

      <p><b>Skins</b> sering dibeli menggunakan <span class="inline-image label-after" data-param="diamonds"
          style="display:inline;white-space:pre"><span data-width="20" style="display:inline-block;position:relative"><a
              href="/wiki/Diamond" title="diamonds diamonds"><img alt="diamonds diamonds"
                src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                decoding="async" loading="lazy" width="20" height="20" data-image-name="Diamond.png"
                data-image-key="Diamond.png" data-relevant="0"></a></span> <span
            style="white-space:normal">(diamonds)</span></span> di toko, dan beberapa hanya dapat diakses secara terbatas
        waktu, dengan hanya beberapa yang tidak dapat diperoleh setelah rilis pertama. Setiap skin memiliki model dan
        splash art tersendiri,Dan beberapa skin juga memberi pahlawan berbagai partikel efek, animasi masuk, sulih
        suara, dan efek suara (harganya bervariasi).</p>

      <h2><span class="mw-headline" id="Pricing">Pricing</span></h2>
      <p>These are the pricing for skins that can be purchased straight from the shop:</p>

      <ol>
        <li>Basic: 269~399 <span class="inline-image label-after" data-param="diamonds"
            style="display:inline;white-space:pre"><span data-width="20"
              style="display:inline-block;position:relative"><a href="/wiki/Diamond" title="diamonds diamonds"><img
                  alt="diamonds diamonds"
                  src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                  decoding="async" loading="lazy" width="20" height="20" data-image-name="Diamond.png"
                  data-image-key="Diamond.png" data-relevant="0"></a></span> <span
              style="white-space:normal">(diamonds)</span></span><br></li>
        <li>Elite: 399~599 <span class="inline-image label-after" data-param="diamonds"
            style="display:inline;white-space:pre"><span data-width="20"
              style="display:inline-block;position:relative"><a href="/wiki/Diamond" title="diamonds diamonds"><img
                  alt="diamonds diamonds"
                  src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                  decoding="async" loading="lazy" width="20" height="20" data-image-name="Diamond.png"
                  data-image-key="Diamond.png" data-relevant="0"
                  data-src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                  class=" ls-is-cached lazyloaded"></a></span> <span
              style="white-space:normal">(diamonds)</span></span><br></li>
        <li>Special: 749 <span class="inline-image label-after" data-param="diamonds"
            style="display:inline;white-space:pre"><span data-width="20"
              style="display:inline-block;position:relative"><a href="/wiki/Diamond" title="diamonds diamonds"><img
                  alt="diamonds diamonds"
                  src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                  decoding="async" loading="lazy" width="20" height="20" data-image-name="Diamond.png"
                  data-image-key="Diamond.png" data-relevant="0"
                  data-src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                  class=" ls-is-cached lazyloaded"></a></span> <span
              style="white-space:normal">(diamonds)</span></span><br></li>
        <li>Epic skins: 899-1089 <span class="inline-image label-after" data-param="diamonds"
            style="display:inline;white-space:pre"><span data-width="20"
              style="display:inline-block;position:relative"><a href="/wiki/Diamond" title="diamonds diamonds"><img
                  alt="diamonds diamonds"
                  src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                  decoding="async" loading="lazy" width="20" height="20" data-image-name="Diamond.png"
                  data-image-key="Diamond.png" data-relevant="0"
                  data-src="https://static.wikia.nocookie.net/mobile-legends/images/e/ea/Diamond.png/revision/latest/scale-to-width-down/20?cb=20211127070228"
                  class=" ls-is-cached lazyloaded"></a></span> <span style="white-space:normal">(diamonds)</span></span>.
        </li>
      </ol>

      <p>Jika skin dirilis dan dapat dibeli langsung dari toko, harganya didiskon sebesar 30% untuk minggu pertama.</p>
      <h2><span class="mw-headline" id="Common_types">Jenis Skin</span></h2>
      <h3><span class="mw-headline" id="Basic">Skin dasar</span></h3>
      <p>Skin dasar adalah jenis skin yang paling umum yang tidak menyertakan tag atau efek khusus apa pun (kecuali dinyatakan lain). Biasanya harganya sekitar 269 diamonds.</p>

    </div>

  </div>


</body>

</html>